body {
    margin: 1em;
    background-color: black;
}

svg {
    border: 1px solid black;    
    width: 100%;
    height: 450px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-col {
    text-align: center;
}

#in {
    width: 95%;
}

div.status {
    color: white;
}

#gold {
    color: gold;
}

#log {
    height: 100px;
    overflow-y: scroll;
}

div.error {
    color: red;
}

div.info {
    color: lightgray;
}

