g.cell {
    text-anchor: middle;
    dominant-baseline: central;
    fill: black;
}

text {
    fill: white;
}

text.player {
    fill: magenta;
    font-weight: bolder;
}

text.wall {
    fill: lightslategray;
}

text.floor {
    fill: darkslategray;
}

text.door.close {
    fill: red;
}

text.door.open {
    fill: green;
}

text.gold {
    fill: gold;
    font-weight: bold;
}

text.hidden {
   fill:black;
}

text.hidden.wall {
   fill:#333333;
}
