g.cell {
    text-anchor: middle;
    dominant-baseline: central;
    fill: black;
}

text {
    fill: white;
}

text.player {
    fill: magenta;
    font-weight: bolder;
}

text.wall {
    fill: lightslategray;
}

text.floor {
    fill: darkslategray;
}