#json-properties {
    color: white;
    text-align: left;
}

#json-edit-div {
    text-align: center;
}

div.hidden-edit {
    display: none;
}

#json-edit-text {
    height: 20em;
    width: 90%;
    margin: 1em;
}

#tile {
    width: 90%;
    margin: 1em;
}

.settings table {
    width: auto;
    margin: auto;
}

.settings table td {
    text-align: left;
}

.settings input {
    width: 15em;
    padding-left: 3px;
}

.settings input.dim {
    width: 3em;
}

.cellbg {
    stroke: #111;
    stroke-width: 1px;
    fill: transparent;
}

.cellbg:hover {
    stroke: white;
}
