#json-properties {
    color: white;
    text-align: left;
}

#json-edit-div {
    text-align: center;
}

div.hidden-edit {
    display: none;
}

#json-edit-text {
    height: 20em;
    width: 90%;
    margin: 1em;
}

#tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, auto));
    grid-auto-rows: minmax(25px, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

#tiles div.tile {
    vertical-align: middle;
    text-align: left;
    padding-left: 0.5em;
    padding-top: 0.3em;    
    border: 1px solid brown;
    border-radius: 5px;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#tiles div.tile:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

#tiles div.tile.selected {
    font-weight: bold;
    color: black;
    background-color: white;
}

#settings {
    display: grid;
    grid-template-columns: minmax(4em, 25%) minmax(auto, 25%) minmax(auto, 40%);
    grid-auto-rows: minmax(25px, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

#settings input {
    width: 5em;
    padding-left: 3px;
}

img.file-icon {
    width: 30px; 
    height: 30px;
    cursor: pointer;
}

.cellbg {
    stroke: #111;
    stroke-width: 1px;
    fill: transparent;
}

.cellbg:hover {
    stroke: white;
}