body {
    margin: 1em;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

svg {
    /* border: 1px solid white;     */
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-height: 450px;
}

.main-col { width: 100%; text-align: center; }

.gamegrid { width: 75%; float: left; }
.status-bar { width: 15%; display: inline-block; color: white; }

table#statstable tr { height: 10px; }
table#statstable td:nth-child(odd) { min-width: 75px; text-align: left; }
table#statstable td:nth-child(even) { text-align: right; }

#log {
    padding-top: 10px;
    height: 100px;
    overflow-y: auto;
}

#gold { 
    color: gold; 
}

div.error {
    color: red;
}

div.info {
    color: lightgray;
}

span.gold {
    color: gold;
}
